<div class="container-fluid">
  <div class="row" style="text-aling: webkit-center;">
    <div class="col-md-12">
      <h2><p>Drinking Games Login</p></h2>
      <button class="btn btn-primary" style="background-color: #385998;border-color:#385998" (click)="facebooklogin()"><i class="fa fa-facebook"></i> Facebook</button>
      <button class="btn btn-primary" style="background-color: #C63D2D;border-color:#C63D2D" (click)="googlelogin()"><i class="fa fa-google"></i> Google</button>
    </div>
    <div class="col-md-12" style="text-aling: webkit-center">
      <div class="card" style="width:20rem;margin:20px 0 24px 0;text-align: -webkit-center;" *ngIf="user.photoUrl">
        <img [src]="user.photoUrl" alt="image" style="width:200px;border-radius: 50%; margin-top:10px">
        <div class="card-body">
          <h4 class+"card-title">{{user.name}}</h4>
          <p class="card-text">{{user.email}}</p>
        </div>
      </div>
    </div>
  </div>
</div>